a{
    text-decoration: none;
    color:inherit;
}
.sharp-red{
    color:#d90845;
}
.media-icon{
    padding: 7px;
    border: 0.125rem solid #666;
    border-radius: 50%;
    font-size: 1.375rem;
    width: 1.5rem !important;
    height: 1.5rem !important;
    color: #666;
}